@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de Olvidé mi Contraseña";
}
<link href="~/estilos/css/custom.css" rel="stylesheet" />

<h1 class="text-center mb-4 mt-5">@ViewData["Title"]</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm border-light">
                <div class="card-body text-center">
                    <p class="mb-4 fs-5">Por favor, revisa tu correo electrónico para restablecer tu contraseña.</p>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

