@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Account/Manage/_LayoutExterno.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Estilos/img/TodoFrenosLogo.png">
    <link href="~/estilos/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/estilos/css/register.css" rel="stylesheet" />

</head>

<body>
    <div class="full-screen-container">
        <div class="center-card">
            <h1>Registrar Usuario</h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div style="display: flex; gap: 20px;">
                    <div class="form-column">
                        <div class="txt_field">
                            <input asp-for="Input.Nombre" class="form-control" aria-required="true" required />
                            <span></span>
                            <label>Nombre</label>
                            <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                        </div>
                        <div class="txt_field">
                            <input asp-for="Input.PrimApellido" class="form-control" aria-required="true" required />
                            <span></span>
                            <label>Primer Apellido</label>
                            <span asp-validation-for="Input.PrimApellido" class="text-danger"></span>
                        </div>
                        <div class="txt_field">
                            <input asp-for="Input.SegunApellido" class="form-control" aria-required="true" required />
                            <span></span>
                            <label>Segundo Apellido</label>
                            <span asp-validation-for="Input.SegunApellido" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="txt_field">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" required />
                            <span></span>
                            <label>Correo Electrónico</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="txt_field">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" required />
                            <span></span>
                            <label>Contraseña</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="txt_field">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" required />
                            <span></span>
                            <label>Confirmar Contraseña</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Registrar" />
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
