@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Reenviar confirmación de correo electrónico";
}
<link href="~/estilos/css/custom.css" rel="stylesheet" />

<h1 class="text-center mb-4">@ViewData["Title"]</h1>
<h2 class="text-center mb-4">Ingresa tu correo electrónico para reenviar la confirmación.</h2>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm border-light">
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger mb-3" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control form-control-lg" aria-required="true" placeholder="nombre@ejemplo.com" />
                            <label asp-for="Input.Email" class="form-label">Dirección de correo electrónico</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-agree btn-lg">Reenviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}