@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Restablecer Contraseña";
}
<link href="~/estilos/css/custom.css" rel="stylesheet" />

<h1 class="text-center mb-4 mt-5">@ViewData["Title"]</h1>
<h2 class="text-center mb-4">Ingresa tu nueva contraseña.</h2>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm border-light">
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.CurrentPassword" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" placeholder="Contraseña temporal" />
                            <label asp-for="Input.CurrentPassword" class="form-label">Contraseña Temporal</label>
                            <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="Nueva contraseña" />
                            <label asp-for="Input.Password" class="form-label">Nueva contraseña</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="Confirmar nueva contraseña" />
                            <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar nueva contraseña</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Input.Email" />
                        <input type="hidden" asp-for="Input.Code" />

                        <button type="submit" class="w-100 btn btn-agree">Restablecer Contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
