@model List<string>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutChatBot.cshtml";
}

<div>
    <div id="start-menu">
        <p class="greeting-text">Hola, mucho gusto! Soy tu asistente virtual.</p>
        <p class="info-text">Selecciona una pregunta:</p>
    </div>

    <div id="question-menu">
        <ul>
            @foreach (var question in Model)
            {
                <li><button class="question-button" data-question="@question">@question</button></li>
            }
        </ul>
    </div>

    <div id="chat-box">
        <div id="chat-messages"></div>
    </div>
</div>

<script src="~/estilos/js/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function () {
        var dateAdded = false;

        $(".question-button").on("click", function () {
            // Ocultar el mensaje de saludo e instrucciones
            $("#start-menu").hide();

            if (!dateAdded) {
                addDate();
                dateAdded = true;
            }
            var question = $(this).data("question");
            addUserQuestionMessage(question);
            showLoadingMessage();
            setTimeout(function () {
                sendQuestionToBot(question);
            }, getRandomDelay(1000, 1500));

            $("#question-menu").hide();
        });

        $(document).on("click", "#show-questions", function () {
            resetChat();
        });

        function addUserQuestionMessage(question) {
            var currentTime = getCurrentTime();
            $("#chat-messages").append('<div class="message user-message"><div class="message-content">' + question + '</div><div class="message-time">' + currentTime + '</div></div>');
            scrollToBottom();
        }

        function addBotMessage(message) {
            var currentTime = getCurrentTime();
            $("#chat-messages").find('.loading-message').remove();
            $("#chat-messages").append('<div class="message bot-message"><div class="message-content">' + message + '</div><div class="message-time">' + currentTime + '</div><button id="show-questions" class="show-more-icon" title="Ver más preguntas"><i class="fa fa-plus"></i></button></div>');
            scrollToBottom();
        }

        function showLoadingMessage() {
            $("#chat-messages").append('<div class="message bot-message loading-message"> Cargando <i class="fa-regular fa-comment-dots"></i> </div>');
            scrollToBottom();
        }

        function sendQuestionToBot(question) {
            $.post('@Url.Action("GetAnswer", "OpenAI")', { question: question }, function (response) {
                addBotMessage(response.answer);
            });
        }

        function getRandomDelay(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function scrollToBottom() {
            $("#chat-box").scrollTop($("#chat-box")[0].scrollHeight);
        }

        function resetChat() {
            $("#chat-messages").empty();
            $("#question-menu").show();
            $("#start-menu").show(); 
            dateAdded = false;
        }

        function addDate() {
            var dateTime = getCurrentDate();
            $("#chat-messages").append('<div class="date-indicator">' + dateTime + '</div>');
        }

        function getCurrentDate() {
            var date = new Date();
            var optionsDate = { day: 'numeric', month: 'long', year: 'numeric' };
            return date.toLocaleDateString('es-ES', optionsDate);
        }

        function getCurrentTime() {
            var date = new Date();
            var optionsTime = { hour: 'numeric', minute: '2-digit', hour12: true };
            return date.toLocaleTimeString('es-ES', optionsTime);
        }
    });
</script>