@model DAL.Models.DetallesNomina

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DetallesNomina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DetalleId" />
            <input type="hidden" asp-for="NominaId" />
            <input type="hidden" asp-for="EmpleadoId" />
            <div class="form-group">
                <label asp-for="SalarioBase" class="control-label"></label>
                <input asp-for="SalarioBase" class="form-control" />
                <span asp-validation-for="SalarioBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semanal" class="control-label"></label>
                <input asp-for="Semanal" class="form-control" />
                <span asp-validation-for="Semanal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensual" class="control-label"></label>
                <input asp-for="Mensual" class="form-control" />
                <span asp-validation-for="Mensual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diario" class="control-label"></label>
                <input asp-for="Diario" class="form-control" />
                <span asp-validation-for="Diario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadHoras" class="control-label"></label>
                <input asp-for="CantidadHoras" class="form-control" />
                <span asp-validation-for="CantidadHoras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasExtra" class="control-label"></label>
                <input asp-for="HorasExtra" class="form-control" />
                <span asp-validation-for="HorasExtra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadHorasExtra" class="control-label"></label>
                <input asp-for="CantidadHorasExtra" class="form-control" />
                <span asp-validation-for="CantidadHorasExtra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ccss" class="control-label"></label>
                <input asp-for="Ccss" class="form-control" />
                <span asp-validation-for="Ccss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vales" class="control-label"></label>
                <input asp-for="Vales" class="form-control" />
                <span asp-validation-for="Vales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pago" class="control-label"></label>
                <input asp-for="Pago" class="form-control" />
                <span asp-validation-for="Pago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <div class="form-check">
                    <input type="radio" asp-for="Estado" value="true" class="form-check-input" />
                    <label class="form-check-label">Activo</label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Estado" value="false" class="form-check-input" />
                    <label class="form-check-label">Inactivo</label>
                </div>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
