@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h1 class="text-center mb-5">Panel de Control de Nóminas</h1>

    <div class="row justify-content-center">

        <!-- Card para Nominas -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm" style="max-width: 18rem; margin: 0 auto;">
                <div class="card-body text-center">
                    <i class="fas fa-file-invoice-dollar fa-4x mb-3 text-success"></i> <!-- Icono para Nóminas -->
                    <h5 class="card-title">Nóminas</h5>
                    <p class="card-text">Gestiona las nóminas de la empresa.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="@Url.Action("Index", "Playroll")" class="btn btn-agree">Ir a Nóminas</a>
                </div>
            </div>
        </div>

        <!-- Card para Empleados -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm" style="max-width: 18rem; margin: 0 auto;">
                <div class="card-body text-center">
                    <i class="fas fa-users fa-4x mb-3 text-warning"></i> <!-- Icono para Empleados -->
                    <h5 class="card-title">Empleados</h5>
                    <p class="card-text">Administra la información de los empleados.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="@Url.Action("Index", "Employees")" class="btn btn-agree">Ir a Empleados</a>
                </div>
            </div>
        </div>
    </div>
</div>