
@{
    ViewData["Title"] = "AdminPedidos";
}

<div class="container mt-3">
    <h2>Gestión de Pedidos</h2>
    <p>Apartado donde se gestiona la administracion de los pedidos de los usuarios de TodoFrenos</p>
    <div class="container-border-custom mb-2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Pago Total</th>
                        <th style="width: 50px;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center align-middle">1</td>
                        <td class="text-center align-middle">Enrique Campos</td>
                        <td class="text-center align-middle">11/04/2024</td>
                        <td class="text-center align-middle">₡66.860.00</td>
                        <td class="text-center align-middle">
                            <div>
                                <a class="btn btn-modify mb-2" href="@Url.Action("DetallePedidos","Pedidos")"><i class="fa fa-search"></i></a>
                                <a class="btn btn-delete" href="#"><i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

