
@{
    ViewData["Title"] = "DetallePedidos";
}

<div class="container mt-3">
    <h2>Pédido numero: 1</h2>
    <div class="container-border-custom mb-2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Impuesto</th>
                        <th>SubTotal</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center align-middle">11/04/2024</td>
                        <td class="text-center align-middle">Bateria Plomo Acido</td>
                        <td class="text-center align-middle">4</td>
                        <td class="text-center align-middle">₡10.000.00</td>
                        <td class="text-center align-middle">₡1.300.00</td>
                        <td class="text-center align-middle">₡40.000.00</td>
                        <td class="text-center align-middle">₡41.300.00</td>
                    </tr>

                    <tr>
                        <td class="text-center align-middle">11/04/2024</td>
                        <td class="text-center align-middle">Bateria de Ion</td>
                        <td class="text-center align-middle">2</td>
                        <td class="text-center align-middle">₡12.000.00</td>
                        <td class="text-center align-middle">₡1.560.00</td>
                        <td class="text-center align-middle">₡24.000.00</td>
                        <td class="text-center align-middle">₡25.560.00</td>
                        
                    </tr>
                    
                </tbody>
                <div style="display:flex">
                    <td colspan="6"></td>
                    <td colspan="1" class="text-center align-middle" style="font-size:14pt">₡66.860.00</td>
                </div>
            </table>
        </div>
    </div>
</div>

