
@{
    ViewData["Title"] = "AdminVehiculos";
}

<div class="container mt-3">
    <h2>Gestión de Vehículo</h2>
    <p>Apartado donde se gestiona el progreso del servicio recivido del vehiculo de los clientes de TodoFrenos</p>
    <div class="container-border-custom mb-2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="th-bg-custom">Cliente</th>
                        <th class="th-bg-custom">Marca</th>
                        <th class="th-bg-custom">Matricula</th>
                        <th class="th-bg-custom">Progreso</th>
                        <th class="th-bg-custom">Fecha Registro</th>
                        <th class="th-bg-custom">Gestionar Progreso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center align-middle">118963025</td>
                        <td class="text-center align-middle">8896-3601</td>
                        <td class="text-center align-middle">COS-507</td>
                        <td class="text-center align-middle">Ausente</td>
                        <td class="text-center align-middle">04/07/2024</td>
                        <td class="text-center align-middle">
                            <div >
                                <a class="btn btn-modify mb-2" href="#">Ausente</a>
                                <a class="btn btn-primary mb-2" href="#">En proceso</a>
                                <a class="btn btn-success mb-2" href="#">Finalizado</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">118963025</td>
                        <td class="text-center align-middle">8896-3601</td>
                        <td class="text-center align-middle">RIC-507</td>
                        <td class="text-center align-middle">Pendiente</td>
                        <td class="text-center align-middle">01/06/2024</td>
                        <td class="text-center align-middle">
                            <div>
                                <a class="btn btn-modify mb-2" href="#">Ausente</a>
                                <a class="btn btn-primary mb-2" href="#">En proceso</a>
                                <a class="btn btn-success mb-2" href="#">Finalizado</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">118963025</td>
                        <td class="text-center align-middle">8896-3601</td>
                        <td class="text-center align-middle">CAC-808</td>
                        <td class="text-center align-middle">Listo</td>
                        <td class="text-center align-middle">12/05/2024</td>
                        <td class="text-center align-middle">
                            <div>
                                <a class="btn btn-modify mb-2" href="#">Ausente</a>
                                <a class="btn btn-primary mb-2" href="#">En proceso</a>
                                <a class="btn btn-success mb-2" href="#">Finalizado</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

