
@{
    ViewData["Title"] = "ListaVehiculos";
}

<div class="container">

    <div class="row justify-content-center m-3">
        <h2 class="mt-3 mb-3">Mis Vehículos</h2>

        <div class="text-end">
            <a class="btn btn-agree mb-1" style="font-weight:bold !important" href="@Url.Action("AgregarProductos","Producto")"> Agregar Nuevo Vehiculo </a>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">           
            <div class="card" style="max-width: 400px;">
                <img class="card-img-top" src="~/estilos/img/car-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Matricula: COS-507</h4>
                    <p style="font-size:15px !important">Alberto Gerardo Rodriguez Castillo</p>
                    <div class="d-flex justify-content-between flex-wrap">
                        <div class="mb-1">
                            <a href="#" class="btn btn-agree btn-sm">Detalles</a>
                        </div>
                        <div class="mb-1">
                            <a href="#" class="btn btn-modify btn-sm">Modificar</a>
                        </div>
                        <div class="mb-1">
                            <a href="#" class="btn btn-delete btn-sm">Eliminar</a>
                        </div>
                    </div>
                    <p class="card-text mt-3">Progreso</p>
                    <span class="font-custom w-100">Ausente</span>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-5 col-sm-12 mb-3">
            <div class="card" style="max-width: 400px;">
                <img class="card-img-top" src="~/estilos/img/car-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Matricula: RIC-789</h4>
                    <p style="font-size:15px !important">Alberto Gerardo Rodriguez Castillo</p>
                    <div class="d-flex justify-content-between flex-wrap">
                        <div class="mb-1">
                            <a href="#" class="btn btn-agree btn-sm">Detalles</a>
                        </div>
                        <div class="mb-1">
                            <a href="#" class="btn btn-modify btn-sm">Modificar</a>
                        </div>
                        <div class="mb-1">
                            <a href="#" class="btn btn-delete btn-sm">Eliminar</a>
                        </div>
                    </div>
                    <p class="card-text mt-3">Progreso</p>
                    <span class="font-custom w-100">Pendiente</span>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-5 col-sm-12 mb-3">
            <div class="card" style="max-width: 400px;">
                <img class="card-img-top" src="~/estilos/img/car-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Matricula: CAC-808</h4>
                    <p style="font-size:15px !important">Alberto Gerardo Rodriguez Castillo</p>
                    <div class="d-flex justify-content-between flex-wrap">
                        <div class="mb-1">
                            <a href="#" class="btn btn-agree btn-sm">Detalles</a>
                        </div>
                        <div class="mb-1">
                            <a href="#" class="btn btn-modify btn-sm">Modificar</a>
                        </div>
                        <div class="mb-1">
                            <a href="#" class="btn btn-delete btn-sm">Eliminar</a>
                        </div>
                    </div>
                    <p class="card-text mt-3">Progreso</p>
                    <span class="font-custom w-100">Listo</span>
                </div>
            </div>
        </div>
    </div>
</div>




