@model DAL.Models.Nomina

@{
    ViewBag.Title = "Calcular Total de Nómina";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Calcular Total de Nómina</h2>
    <hr />

    <form method="post" asp-action="CalcularTotal">
        <div class="form-group mb-3">
            <label asp-for="NominaId" class="form-label">Seleccione Nómina</label>
            <select asp-for="NominaId" class="form-select" asp-items="ViewBag.NominaId">
                <option value="">Seleccionar Nómina</option>
            </select>
            <span asp-validation-for="NominaId" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <button type="submit" class="btn btn-agree">Calcular Total</button>
        </div>

        
    </form>

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger mt-4">
            @TempData["Error"]
        </div>
    }
</div>
