@model DAL.Models.Nomina

@{
    ViewData["Title"] = "Crear Nómina";
    var today = DateTime.Today.ToString("yyyy-MM-dd"); // Obtener la fecha de hoy en formato YYYY-MM-DD
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Crear Nómina</h2>
    <hr />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                        <div class="form-group mb-3">
                            <label asp-for="FechaInicio" class="form-label">Fecha de Inicio</label>
                            <input asp-for="FechaInicio" class="form-control" type="date" id="FechaInicio" min="@today" />
                            <span asp-validation-for="FechaInicio" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="FechaFinaliza" class="form-label">Fecha de Finalización</label>
                            <input asp-for="FechaFinaliza" class="form-control" type="date" id="FechaFinaliza" readonly />
                            <span asp-validation-for="FechaFinaliza" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="Crear" class="btn btn-agree w-100" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

@section Scripts {
    <script>
        document.getElementById('FechaInicio').addEventListener('change', function () {
            var fechaInicio = new Date(this.value);
            var fechaFinaliza = document.getElementById('FechaFinaliza');

            // Calcula la fecha específica para la finalización (8 días después)
            var fechaUnica = new Date(fechaInicio);
            fechaUnica.setDate(fechaInicio.getDate() + 8);

            // Convertir la fecha única a formato YYYY-MM-DD
            var year = fechaUnica.getFullYear();
            var month = (fechaUnica.getMonth() + 1).toString().padStart(2, '0');
            var day = fechaUnica.getDate().toString().padStart(2, '0');
            var uniqueDateString = year + '-' + month + '-' + day;

            // Establecer automáticamente la fecha de finalización
            fechaFinaliza.value = uniqueDateString;
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}