
@{
    ViewData["Title"] = "AdminProductos";
}

<div class="container mt-3">
    <h2>Administración de Productos</h2>
    <p>Apartado para agregar, modificar y eliminar los productos disponibles en el carrito de compras de TodoFrenos</p>
    <div class="container-border-custom mb-2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <div>
                    <a class="btn btn-agree mb-1" style="font-weight:bold" href="@Url.Action("Create","Products")">Agregar Producto</a>
                </div>
                <thead>
                    <tr>
                        <th class="th-bg-custom">Categoria</th>
                        <th class="th-bg-custom">Nombre</th>
                        <th class="th-bg-custom">Precio</th>
                        <th class="th-bg-custom">Inventario</th>
                        <th class="th-bg-custom">Estado</th>
                        <th class="th-bg-custom">Imagen</th>
                        <th class="th-bg-custom">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center align-middle">Bateria</td>
                        <td class="text-center align-middle">Bateria Plomo Acido</td>
                        <td class="text-center align-middle">000.00</td>
                        <td class="text-center align-middle">10</td>
                        <td class="text-center align-middle">Activo</td>
                        <td class="d-flex justify-content-center">
                            <img src="~/estilos/img/img-bate-p1.jpg" width="120" height="120" />
                        </td>
                        <td class="text-center align-middle">
                            <div class="d-flex flex-column align-items-center">
                                <a class="btn btn-modify mb-2" href="@Url.Action("ModificarProductos","Producto")">Modificar</a>
                                <a class="btn btn-delete">Inactivar</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Bateria</td>
                        <td class="text-center align-middle">Bateria de Ion</td>
                        <td class="text-center align-middle">000.00</td>
                        <td class="text-center align-middle">8</td>
                        <td class="text-center align-middle">Activo</td>
                        <td class="d-flex justify-content-center">
                            <img src="~/estilos/img/img-bate-p2.jpg" width="120" height="120" />
                        </td>
                        <td class="text-center align-middle">
                            <div class="d-flex flex-column align-items-center">
                                <a class="btn btn-modify mb-2">Modificar</a>
                                <a class="btn btn-delete">Inactivar</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Bateria</td>
                        <td class="text-center align-middle">AGM Bateria</td>
                        <td class="text-center align-middle">000.00</td>
                        <td class="text-center align-middle">9</td>
                        <td class="text-center align-middle">Activo</td>
                        <td class="d-flex justify-content-center">
                            <img src="~/estilos/img/img-bate-p3.jpg" width="120" height="120" />
                        </td>
                        <td class="text-center align-middle">
                            <div class="d-flex flex-column align-items-center">
                                <a class="btn btn-modify mb-2">Modificar</a>
                                <a class="btn btn-delete">Inactivar</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Frenos</td>
                        <td class="text-center align-middle">Frenos Brombo </td>
                        <td class="text-center align-middle">000.00</td>
                        <td class="text-center align-middle">20</td>
                        <td class="text-center align-middle">Activo</td>
                        <td class="d-flex justify-content-center">
                            <img src="~/estilos/img/img-fren-p1.jpg" width="120" height="120" />
                        </td>
                        <td class="text-center align-middle">
                            <div class="d-flex flex-column align-items-center">
                                <a class="btn btn-modify mb-2">Modificar</a>
                                <a class="btn btn-delete">Inactivar</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Lubricante</td>
                        <td class="text-center align-middle">Lubricante Wolf</td>
                        <td class="text-center align-middle">000.00</td>
                        <td class="text-center align-middle">12</td>
                        <td class="text-center align-middle">Activo</td>
                        <td class="d-flex justify-content-center">
                            <img src="~/estilos/img/img-lubri-p1.jpg" width="120" height="120" />
                        </td>
                        <td class="text-center align-middle">
                            <div class="d-flex flex-column align-items-center">
                                <a class="btn btn-modify mb-2">Modificar</a>
                                <a class="btn btn-delete">Inactivar</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Clutchs</td>
                        <td class="text-center align-middle">
                            Clutch Centerforce
                        </td>
                        <td class="text-center align-middle">000.00</td>
                        <td class="text-center align-middle">7</td>
                        <td class="text-center align-middle">Activo</td>
                        <td class="d-flex justify-content-center">
                            <img src="~/estilos/img/img-clut-p1.jpg" width="120" height="120" />
                        </td>
                        <td class="text-center align-middle">
                            <div class="d-flex flex-column align-items-center">
                                <a class="btn btn-modify mb-2">Modificar</a>
                                <a class="btn btn-delete">Inactivar</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

