
@{
    ViewData["Title"] = "AgregarProductos";
}

<div class="container d-flex justify-content-center align-items-center m-5">
    <div class="card rounded-3 p-4">
        <form>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="ingrese el nombre del producto">
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="precio" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="precio">
                </div>
                <div class="col-md-4">
                    <label for="categoria" class="form-label">Categoria</label>
                    <select id="categoria" class="form-select">
                        <option selected>Seleccione la Categoria....</option>
                        <option >Bateria</option>
                        <option>Frenos</option>
                        <option>Clutchs</option>
                        <option>Lubricante</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inventario" class="form-label">Inventario</label>
                    <input type="number" class="form-control" id="inventario">
                </div>
            </div>
            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen</label>
                <input type="file" class="form-control" id="imagen">
            </div>
            <button type="submit" class="btn btn-custom">Agregar Producto</button>
        </form>
    </div>
</div>

