@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link href="~/estilos/css/icons.css" rel="stylesheet" />

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link nav-link-a-custom dropdown-toggle-custom dropdown-toggle-custom-size" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user icon-custom"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-custom-size" aria-labelledby="profileDropdown">
                <li>
                    <a id="manage" class="dropdown-item-custom" asp-area="Identity" asp-page="/Account/Manage/Index" title="Mi Perfil">
                        <i class="fas fa-user-cog"></i>
                    </a>
                </li>
                <li>
                    <a id="logoutLink" class="dropdown-item-custom" href="#" title="Cerrar Sesión" onclick="document.getElementById('logoutForm').submit();">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Inicio", "Inicio", new { area = "" })" method="post" style="display: none;">
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link p-0" id="login" asp-area="Identity" asp-page="/Account/Login">
                Iniciar Sesión
            </a>
        </li>
    }
</ul>
