
@{
    ViewData["Title"] = "ActualizarUsuario";
}

<div class="container d-flex justify-content-center align-items-center m-5">
    <div class="card rounded-3 p-4">
        <form>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Alberto">
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellido" placeholder="Rodriguez">
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="correo" class="form-label">Correo Eléctronico</label>
                    <input type="email" class="form-control" id="correo" placeholder="alberto@email.com">
                </div>
                <div class="col-md-4">
                    <label for="telefono" class="form-label">Numero de Teléfono</label>
                    <input type="text" class="form-control" id="telefono" placeholder="8896-3601">
                </div>
                <div class="col-md-4">
                    <label for="contraseña" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña" placeholder="nueva contraseña">
                </div>
            </div>
            <button type="submit" class="btn btn-custom">Confirmar Cambios</button>
        </form>
    </div>
</div>

