
@{
    ViewData["Title"] = "CodigoAcceso";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="center">
    <h1>Recuperar Acceso</h1>
    <form method="post">
        <div class="txt_field">
            <input type="email" required />
            <span></span>
            <label>Correo Eléctronico</label>
        </div>

        <input type="submit" class="mb-3"  value="Confirmar" />


    </form>
</div>

