
@{
    ViewData["Title"] = "InicioSesion";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="center">
    <h1>Inicio de Sesión</h1>
    <form method="post">
        <div class="txt_field">
            <input type="email" required />
            <span></span>
            <label>Correo Eléctronico</label>
        </div>
        <div class="txt_field">
            <input type="password" required />
            <span></span>
            <label>Contraseña</label>
        </div>
        <div class="pass">
            <a style="text-decoration: none; color: #adadad;" href=@Url.Action("CodigoAcceso","Usuario")>¿Olvidaste tu contraseña?</a>
        </div>

        <input type="submit" value="Iniciar Sesión" />

        <div class="signup_link">
            No tienes usuario?
            <a href=@Url.Action("RegistroUsuario","Usuario") style="color: #ff8000;">Registrar</a>
        </div>
    </form>
</div>

