
@{
    ViewData["Title"] = "InicioSesion";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}



<div class="center">
    <div style="text-align:center">
        <img src="~/estilos/img/todofrenoslogo.png" alt="Logo" class="logo">
    </div>
    <h2>Iniciar de Sesión</h2>
    <form method="post">
        <div class="txt_field">
            <input type="email" required />
            <span></span>
            <label>Correo Eléctronico</label>
        </div>
        <div class="txt_field">
            <input type="password" required />
            <span></span>
            <label>Contraseña</label>
        </div>
        <div class="pass">
            <a style="text-decoration: none; color: #adadad;" href=@Url.Action("CodigoAcceso","Usuario")>¿Olvidaste tu contraseña?</a>
        </div>

        <input type="submit" value="Iniciar Sesión" />

        <div class="signup_link">
            No tienes usuario?
            <a href=@Url.Action("RegistroUsuario","Usuario") style="color: #f18b4d;">Registrar</a>
        </div>
    </form>
</div>
