
@{
    ViewData["Title"] = "PerfilUsuario";
}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center ">
        <div class="col-md-4 mb-2">
            <div class="card img-fluid" style="width: 100%;">
                <img class="card-img-top" src="~/estilos/img/rol_admin.png" alt="Vista 1" style="width: 100%;">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <div style="margin-top:75%">
                        <a href="vista2.html" class="btn btn-inspections">Roles Administradores</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card img-fluid" style="width: 100%;">
                <img class="card-img-top" src="~/estilos/img/rol_client.png" alt="Vista 2" style="width: 100%;">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <div style="margin-top:75%">
                        <a href="vista2.html" class="btn btn-inspections">Roles Clientes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card img-fluid" style="width: 100%;">
                <img class="card-img-top" src="~/estilos/img/rol_mechanic.png" alt="Vista 2" style="width: 100%;">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <div style="margin-top:75%">
                        <a href="vista2.html" class="btn btn-inspections">Roles Mecanicos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark">
                    <h5 class="card-title text-white">Información de Usuario</h5>
                </div>
                <div class="card-body">
                    <div class="col-md-9">
                        <p class="card-text"><b>Nombre Completo:</b > Enrique Campos</p>
                        <p class="card-text"><b>Correo Electrónico:</b> alberto@emai.com</p>                       
                        <p class="card-text"><b>Teléfono:</b> 8896-3601</p>
                        <a href="@Url.Action("ActualizarUsuario","Usuario")" class="btn btn-agree mb-1">
                            <i class="fa fa-pencil"></i> Modificar Información
                        </a>
                        <a href="#" class="btn btn-delete mb-1">
                            <i class="fa fa-trash"></i> Eliminar Usuario
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@
