@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h1 class="text-center mb-5">Administrar Citas</h1>

    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm" style="max-width: 18rem; margin: 0 auto;">
                <div class="card-body text-center">
                    <i class="fas fa-user-tag fa-4x mb-3 text-primary"></i> 
                    <h5 class="card-title">Citas de Usuarios</h5>
                    <p class="card-text">Administra las citas de los usuarios eficientemente</p>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="Appointments" asp-action="Index" class="btn btn-agree">Ir a citas de usuarios</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm" style="max-width: 18rem; margin: 0 auto;">
                <div class="card-body text-center">
                    <i class="fas fa-store-alt fa-4x mb-3 text-success"></i> 
                    <h5 class="card-title">Citas de Proveedores</h5>
                    <p class="card-text">Administra las citas de los proveedores eficientemente</p>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="SupplierAppointment" asp-action="Index" class="btn btn-agree">Ir a citas de proveedores</a>
                </div>
            </div>
        </div>
    </div>
</div>