
@{
    ViewData["Title"] = "Contacto";
}
<div class="justify-content-center mt-5">
    <h2 class="text-center mb-4" style="font-size: 28px; font-weight: 600; color: #333;">─ Contacto ─</h2>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card card-custom text-center h-100" style="background-color: #f2f2f2; padding: 15px;">
                <i class="fa fa-location-dot mb-2" aria-hidden="true"></i>
                <h4 style="font-size: 16px; margin-bottom: 10px;font-weight:bold">Dirección</h4>
                <p style="font-size: 14px !important;"><b>San José</b><br>100 mts Sur, 25 mts Oeste de la entrada de emergencias de Maternidad Carit.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card card-custom text-center h-100" style="background-color: #f2f2f2; padding: 15px;">
                <i class="fa fa-clock mb-2" aria-hidden="true"></i>
                <h4 style="font-size: 16px; margin-bottom: 10px;font-weight:bold">Horario</h4>
                <p  style="font-size: 14px !important;"><b>Lunes a Viernes</b><br>07:30am - 5:30pm <br><b>Sábado</b>: 07:30am - 12:00md</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card card-custom text-center h-100" style="background-color: #f2f2f2; padding: 15px;">
                <i class="fa fa-envelope mb-2" aria-hidden="true"></i>
                <h4 style="font-size: 16px; margin-bottom: 10px;font-weight:bold">Correo</h4>
                <a class="text-custom-contact mt-1" href="mailto:citas@todofrenoscr.com">citas@todofrenoscr.com</a>
                <a class="text-custom-contact " href="mailto:info@todofrenoscr.com">info@todofrenoscr.com</a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card card-custom text-center h-100" style="background-color: #f2f2f2; padding: 15px;">
                <i class="fa fa-phone mb-2" aria-hidden="true"></i>
                <h4 style="font-size: 16px; margin-bottom: 10px;font-weight:bold">Teléfonos</h4>
                <a class="text-custom-contact " href="tel:(506)222764485"><span style="font-weight:bold">Oficina:</span> 2227 6448</a>
                <a class="text-custom-contact " href="tel:(506)71436193"><span style="font-weight:bold">WhatsApp:</span> 7143 6193</a>
                <a class="text-custom-contact " href="tel:(506)60425246"><span style="font-weight:bold">Rescate:</span> 6042 5246</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="responsive-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.140725093847!2d-84.08541258854666!3d9.92223587432528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3417f85a6f1%3A0xb4e30a9b0d8e39a6!2sTodo%20Frenos%20RGVV%20SRL!5e0!3m2!1ses-419!2scr!4v1681941199410!5m2!1ses-419!2scr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>


