
<link href="~/estilos/css/custom.css" rel="stylesheet" />

<div class="justify-content-center mt-5">
    <h2 class="text-center mb-4">Servicios</h2>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <p class="service-description">
                Con una experiencia combinada de más de 29 años en el mercado al servicio de mantenimiento preventivo y correctivo del transporte automotriz liviano, semipesado y pesado en las líneas de mecánica automotriz, pintura y enderezado, entre otros.
            </p>
            <p class="service-description">
                Nuestros talleres especializados están altamente equipados, subdivididos en taller de liviano, taller de pesado, taller de enderezado y pintura. Además, somos importadores de repuestos y brindamos rescates en carretera a cualquier zona del país 24/7.
            </p>
            <p class="service-description">
                Servimos a nuestros clientes con el compromiso permanente en precios competitivos y manteniendo los más altos estándares de calidad.
            </p>
        </div>
        <div class="col-md-6">
            <div class="img-container">
                <img src="~/estilos/img/servicios.jpg" class="img-fluid img-bordered" alt="Servicios">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-3 mb-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <i class="fas fa-car fa-3x mb-3" style="color: #007bff;"></i>
                        <h5 class="card-title" style="font-weight: bold; color: #007bff;">Vehículos</h5>
                    </div>
                    <div class="flip-card-back">
                        <ul>
                            <li>Revisión técnica (DEKRA)</li>
                            <li>Sistema de Clutch</li>
                            <li>Suspensión</li>
                            <li>Electromecánica</li>
                            <li>Tune-Up</li>
                            <li>Lavacar</li>
                            <li>Tapicería</li>
                            <li>Enderezado y Pintura</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <i class="fas fa-tools fa-3x mb-3" style="color: #28a745;"></i>
                        <h5 class="card-title" style="font-weight: bold; color: #28a745;">Mecánica Pesada</h5>
                    </div>
                    <div class="flip-card-back">
                        <ul>
                            <li>Mecánica General</li>
                            <li>Montaje y balanceo de llantas</li>
                            <li>Mantenimiento</li>
                            <li>Escaneo (Alta Tecnología)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <i class="fas fa-cogs fa-3x mb-3" style="color: #ffc107;"></i>
                        <h5 class="card-title" style="font-weight: bold; color: #ffc107;">Todo en Frenos</h5>
                    </div>
                    <div class="flip-card-back">
                        <ul>
                            <li>Sistema de Frenos</li>
                            <li>Rectificación de Discos y Tambores</li>
                            <li>Mano de Obra Gratis</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <i class="fas fa-ambulance fa-3x mb-3" style="color: #dc3545;"></i>
                        <h5 class="card-title" style="font-weight: bold; color: #dc3545;">Rescate en Carretera</h5>
                    </div>
                    <div class="flip-card-back">
                        <ul>
                            <li>Asistencia a zonas del país</li>
                            <li>Rescate 24 Hrs</li>
                            <li>Servicio de Grúa 24 Hrs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-9">
            <p class="service-description">
                Nuestra misión es atender y solucionar las necesidades donde somos especialistas, con un equipo humano con la mayor disponibilidad en aras de brindar excelencia con un servicio personalizado, garantizando a la vez una solución eficaz y efectiva ante las necesidades de nuestros clientes.
            </p>
            <p class="service-description">
                Trabajamos en equipo buscando siempre la satisfacción de nuestros clientes, el enfoque principal de toda nuestra organización es la solución pronta, precisa y el buen manejo de su flota vehicular para que su representada pueda cumplir los objetivos y tareas necesarias.
            </p>
        </div>

        <div class="col-md-3">
            <div class="provider-list">
                <h5>Proveedores</h5>
                <p class="m-0 mt-2">Purdy Motor S.A</p>
                <p class="m-0">Corporación Grupo Q Costa Rica S.A</p>
                <p class="m-0">Petrolubricantes S.A</p>
                <p class="m-0">Filtros J.S.M S.A</p>
                <p class="m-0">Megabaterías Suministros y Equipos de Costa Rica S.A.</p>
                <p class="m-0">La Guacamaya</p>
                <p class="m-0">Renapa S.A</p>
                <p class="m-0">Capris S.A</p>
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>