
@{
    ViewData["Title"] = "Servicios";
}
<div class= "justify-content-center mt-5">
    <h2 class="text-center" style="font-size: 28px; font-weight: 600; color: #333;">─ Servicios ─</h2>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <p>Con una experiencia combinada de más de 29 años en el mercado al servicio de mantenimiento preventivo y correctivo del transporte automotriz liviano, semipesado y pesado en las líneas de mecánica automotriz, pintura y enderezado, entre otros.</p>
            <p>Nuestros talleres especializados están altamente equipados, subdivididos en taller de liviano, taller de pesado, taller de enderezado y pintura. Además, somos importadores de repuestos y brindamos rescates en carretera a cualquier zona del país 24/7.</p>
            <p>Servimos a nuestros clientes con el compromiso permanente en precios competitivos y manteniendo los más altos estándares de calidad.</p>
        </div>
        <div class="col-md-6">
            <img src="~/estilos/img/servicios.jpg" class="img-fluid" alt="Servicios">
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight:bold;">Vehículos (liviano-semipesado-pesado)</h5>
                    <div style="display:flex">
                        <div>
                            <ul class="list-unstyled">
                                <li class="card-text" style="font-size: 15px !important;">- Revisión técnica (DEKRA)</li>
                                <li class="card-text" style="font-size: 15px !important;">- Sistema de Clutch</li>
                                <li class="card-text" style="font-size: 15px !important;">- Suspensión</li>
                                <li class="card-text" style="font-size: 15px !important;">- Electromecanica</li>
                                <li class="card-text" style="font-size: 15px !important;">- Tune-Up</li>
                                <li class="card-text" style="font-size: 15px !important;">- Lavacar</li>
                                <li class="card-text" style="font-size: 15px !important;">- Tapicería</li>
                                <li class="card-text" style="font-size: 15px !important;">- Enderezado y Pintura</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight:bold;">Mecánica Pesada</h5>
                    <div style="display:flex">
                        <div>
                            <ul class="list-unstyled">
                                <li class="card-text" style="font-size: 15px !important;">- Mecánica General</li>
                                <li class="card-text" style="font-size: 15px !important;">- Montaje y balanceo de llantas</li>
                                <li class="card-text" style="font-size: 15px !important;">- Mantenimiento</li>
                                <li class="card-text" style="font-size: 15px !important;">- Escaneo (AltaTecnología)</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight:bold;">Todo en Frenos</h5>
                    <div style="display:flex">
                        <div>
                            <ul class="list-unstyled">
                                <li class="card-text" style="font-size: 15px !important;">- Sistema de Frenos</li>
                                <li class="card-text" style="font-size: 15px !important;">- Rectificación de Discos y Tambores</li>
                                <li class="card-text" style="font-size: 15px !important;">- Mano de Obra Gratis</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight:bold;">Rescate en Carretera</h5>
                    <div style="display:flex">
                        <div>
                            <ul class="list-unstyled">
                                <li class="card-text" style="font-size: 15px !important;">- Asistencia a zonas del país</li>
                                <li class="card-text" style="font-size: 15px !important;">- Rescate 24 Hrs</li>
                                <li class="card-text" style="font-size: 15px !important;">- Servicio de Grúa 24 Hrs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-9">
            <p>Nuestra misión es atender y solucionar las necesidades donde somos especialistas, con un equipo humano con la mayor disponibilidad en aras de brindar excelencia con un servicio personalizado, garantizando a la vez una solución eficaz y efectiva ante las necesidades de nuestros clientes.</p>
            <p>Trabajamos en equipo buscando siempre la satisfacción de nuestros clientes, el enfoque principal de toda nuestra organización es la solución pronta, precisa y el buen manejo de su flota vehicular para que su representada pueda cumplir los objetivos y tareas necesarias.</p>
         </div>

        <div class="col-md-3" style="border: 1px solid #ccc;padding: 10px; border-radius: 5px;width: 300px;margin-left:15px">
            <h5 style="font-weight:bold !important">Proveedores</h5>
            
            <p class="m-0 mt-2 mt-sm-0">Purdy Motor S.A</p>
            <p class="m-0">Corporación Grupo Q Costa Rica S.A</p>
            <p class="m-0">Petrolubricantes S.A</p>
            <p class="m-0">Filtros J.S.M S.A</p>
            <p class="m-0">Megabater&iacute;as Suministros y Equipos de Costa Rica S.A.</p>
            <p class="m-0">La Guacamaya</p>
            <p class="m-0">Renapa S.A</p>
            <p class="m-0">Capris S.A</p>
        </div>
    </div>
</div>



