@model CrearRolViewModel

@{
    ViewBag.Title = "Crear nuevo Rol";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Crear nuevo rol</h1>

    <form asp-action="CrearRol" method="post" class="needs-validation" novalidate>
       

        <div class="form-group row mb-3">
            <label asp-for="NameRol" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="NameRol" class="form-control" placeholder="Name" />
                <span asp-validation-for="NameRol" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-agree me-2" style="width:auto">Crear Rol</button>
                <a asp-action="Index" class="btn btn-delete" style="width:auto">Cancelar</a>
            </div>
        </div>
        <br />
        <br />
    </form>
</div>