@model DAL.Models.SupplierAppointment

@{
    ViewData["Title"] = "Detalles de la Cita";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Detalles de la Cita</h2>
    <hr />

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            Fecha y Hora de Cita
                        </dt>
                        <dd class="col-sm-8">
                            @Model.AppointCreationDate?.ToString("dd/MM/yyyy HH:mm")
                        </dd>

                        <dt class="col-sm-4">
                            Motivo
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Reason)
                        </dd>

                        <dt class="col-sm-4">
                            Estado
                        </dt>
                        <dd class="col-sm-8">
                            @{
                                string estado = Model.AppointState == 1 ? "Pendiente" :
                                Model.AppointState == 2 ? "Aceptado" :
                                Model.AppointState == 0 ? "Rechazado" :
                                "Sin estado";
                            }
                            @estado
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>